body {
	background: #ccccccc;
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
}



h1{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	
	text-align: center;
	font-size: 50px;
	
}


p{
	text-align: center;
	
}
