body {
	background: #ccccccc;
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
}



h1{
	font-family: 'Nabla', cursive;

	
	text-align: center;
	font-size: 50px;
	
}


p{
	text-align: center;
	
}  

#olho{
	width: 80;
}
